@{
    ViewData["Title"] = "Privacy Policy";
}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column; text-align: center;">
    <img src="~/images/gengar.png" alt="Gengar" style="width: 18%;" />
    <p>&copy; Steven Vega Borbón - 2024 | Versión 1.0 </p>
</div>
