@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/images/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">@UserManager.GetUserName(User)</a>
            <span class="d-block text-muted">
                @if (User.IsInRole("SuperAdmin"))
                {
                    <span>En línea: <br> Super Administrador</span>
                }
                else if (User.IsInRole("Supervisor"))
                {
                    <span>En línea: <br> Supervisor</span>
                }
                else if (User.IsInRole("Mecanico"))
                {
                    <span>En línea: <br> Mecánico</span>
                }
                else if (User.IsInRole("Chofer"))
                {
                    <span>En línea: <br> Chofer</span>
                }
            </span>
        </div>
    </div>
}
